header
  background-color: #F2F2F2

  .container
    display: grid
    padding: $indent/2 0

    .toggle-liked-list-button
      justify-self: end

      .toggle-liked-list-button-quantity
        font-size: 16px

      .toggle-liked-list-button-icon
        font-size: 18px
        margin-right: 6px

    .liked-list
      border: 1px solid rgba(63, 81, 181, 0.5)
      border-radius: 4px
      position: absolute
      top: 76px
      right: $indent/2
      min-width: 300px
      padding: 6px 0